---
import "@fontsource/inter/variable.css";
import HeaderTop from "~/components/headerTop.astro";
import "~/styles/index.css";

const { generator, site } = Astro;
const image = new URL("social.jpg", site);
const description =
  "Software Creator specialized in designing, developing, and maintaining customer-centric solutions including APIs, Web, and Mobile Apps. Skilled in identifying company needs and proposing effective solutions for process improvement. Passionate about providing rapid solutions and enhancing user experience. Proven ability to work effectively in remote and hybrid team environments. I like it when everything is straightforward and easy to understand, so that no issues arise.";
---

<!DOCTYPE html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset=ut"f-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>Brayan Jeshua - Software Developer</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Brayan Jeshua" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)"
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script>
  </head>
  <body
    class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >

  <HeaderTop />



  <main class="bg-gray-100 min-h-screen">
    <section class="container mx-auto my-8">
      <div class="bg-slate-600 shadow-lg rounded-lg p-8">
        <h1 class="text-3xl font-semibold mb-4">Personal Data</h1>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <p><strong>Name:</strong> Brayan Jeshua</p>
            <p><strong>Age:</strong> 25</p>
            <p><strong>Email:</strong> mr.brayanjeshua@gmail.com</p>
          </div>
          <div>
            <p><strong>Phone:</strong> +39 351 2979728</p>
            <p><strong>Address:</strong> Italy</p>
          </div>
        </div>
      </div>
    </section>
  
    <section class="container mx-auto my-8">
      <div class="bg-slate-600 shadow-lg rounded-lg p-8">
        <h1 class="text-3xl font-semibold mb-4">Work Experience</h1>
        <div class="space-y-4">
          <div>
            <h2 class="text-xl font-semibold">ICT-GROUP S.r.l.</h2>
            <p class="text-gray-300">Software Development - Jun 2021 / Present</p>
            <p>At ICT Group, I'm currently navigating the complexities of a large ERP systemy with diverse client needs and environments. My focus are based on a applications related to hospital sterilization and laundry services, involving data management and application distribution. This has been one of my first hands-on experience with JAVA Enterprise Edition and Scala. I also took on the challenge of implementing new technologies, leading a shift towards React.js and actually i'm studiying nest.js and cypress.</p>
          </div>
          <!-- Agrega más experiencias laborales aquí -->
        </div>
      </div>
    </section>
  
    <section class="container mx-auto my-8">
      <div class="bg-slate-600 shadow-lg rounded-lg p-8">
        <h1 class="text-3xl font-semibold mb-4">Education</h1>
        <div class="space-y-4">
          <div>
            <h2 class="text-xl font-semibold">University Santiago Marino</h2>
            <p class="text-gray-300">Engineer Degree, Systems Engineering - 2014 / 2016</p>
            <p>2 years</p>
          </div>
        </div>
        <a class="mt-2 flex justify-end" href="https://www.linkedin.com/in/brayanjeshua/" target="_blank">View on LinkedIn</a>
      </div>

    </section>
  </main>

  </body>
</html>
